* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
  display: block;
}

.container {
  width: 1024px;
  display: flex;
  font-size: 0;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  height: 70px;
}

nav {
  display: block;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list-item {
  margin: 0 30px;
  font-size: 16px;
  line-height: 70px;
}

a {
  color: #fff;
}

.main-visual {
  background-image: url(img/mv.png);
  width: 100%;
  height: 650px;
  background-size: cover;
}

.main-visual-content {
  color: #fff;
}

.main-visual-name {
  font-size: 64px;
  padding-top: 200px;
  margin-bottom: 10px;
  text-align: center;
}

.main-visual-text {
  font-size: 20px;
  text-align: center;
}

.portfolio {
  background-color: #eceff1;
}

.portfolio-container {
  justify-content: center;
}

h2 {
  font-size: 32px;
  color: #000;
  padding-top: 90px;
  text-align: center;
}

h2:after {
  content: "";
  bottom: -8px;
  display: block;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

.text {
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
}

.portfolio-image {
  display: flex;
  flex-flow: row wrap;
  width: 920px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.item1 img {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  object-fit: cover;
}

.item2 img {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  object-fit: cover;
}

.item3 img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.item4 img {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  object-fit: cover;
}

.item5 img {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  object-fit: cover;
}

.item6 img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.feather-box {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.feather-item {
  width: 320px;
  height: 400px
  font-size: 16px;
  margin-right: 10px;
}

.feather-item:last-child {
  margin-right: 0;
}

.strength {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
}

i {
  font-size: 60px;
  display: inline-block;
  text-align: center;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #ec715f;
}

.footer-text {
  color: #fff;
}
